@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}

@layer base {
  :root {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } 
  /* :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  } */

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer components {
  .table-row {
    @apply border-b transition-colors hover:bg-slate-700/50 data-[state=selected]:bg-slate-700;
  }

  .table-header {
    @apply h-12 px-4 text-left align-middle font-medium text-slate-400;
  }

  .table-cell {
    @apply p-4 align-middle [&:has([role=checkbox])]:pr-0 text-slate-300;
  }
}